<h2><%= feed.escape('title') %></h2>
<%= feed.escape('url') %>
<br>
<br>
<button id="refresh" data-id="<%= feed.id %>">Refresh Feed!</button>
<ul>
<% entries.each(function(entry) { %>
<li><a href="#feed/<%= feed.id %>/entry/<%= entry.id %>">
	<%= entry.escape('title') %>	
	</a>
</li>
<% }); %>
</ul>

