<h2><%= entry.escape('title') %></h2>
<ul>
	<li><%= entry.escape('title') %></li>
	<li>
		<a href="<%= entry.escape('link') %>">
			<%= entry.escape('link') %>
		</a>
	</li>
	<li><%= entry.escape('guid') %></li>
	<li><%= entry.escape('published_at') %></li>
</ul>